@import './font.css';
@import './reset.css';
@import './common.css';

.ad-top{
 height: 40px;
 width: 100%;
 background: #000;
 color: #fff;
}
.ad-top .banner-slide{
  height: 100%;
}
.ad-top .swiper-wrapper{}
.ad-top .swiper-slide{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.ad-top .ico-arrow{
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 16px;
  background-position: center;
 background: url(../images/ico-arrow-wh.png) no-repeat center/6px auto;
}
.ad-top strong{
  font-weight: bold;
}

#header .group-header{
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}
#header .header-top{
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 56px;
  width: 100%;
  padding: 0 5px;
}

#header .logo{
  position: absolute;
  display: flex;
  height: 56px;
  left: 50%;
  transform: translateX(-50%);
  padding: 14px 0 19px;
}

#header .logo a{
  display: block;
  width: 87px;
  height: 23px;
  background: url('../images/main-logo-w.svg') no-repeat center/87px auto;
}

#header .header-top .util-area{
  display: flex;
}

#header .header-top .util-area >*{
  display: flex;
  align-items: center;
  padding: 0 10px;
}
#header .header-top .util-area >*::before{
  content: '';
}
#header .header-top .btn-menu::before{
  width: 22px;
  height: 17px;
  background: url(../images/ico-menu-w.svg) no-repeat center / 100%;

}
#header .header-top .btn-search::before{
  width: 17px;
  height: 18px;
  background: url(../images/ico-search-w.svg) no-repeat center / 100%;

}
#header .header-top .btn-cart::before{
  width: 19px;
  height: 18px;
  background: url(../images/ico-cart-w.svg) no-repeat center / 100%;

}
#header .header-top .btn-mypage::before{
  width: 18px;
  height: 18px;
  background: url(../images/ico-mypage-w.svg) no-repeat center / 100%;

}

#header .util-area .btn-cart{
  position: relative;
}
#header .util-area .btn-cart span{
  position: absolute;
  right: 0;
  top: 14px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  font-size: 11px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
}
#header .util-area.right{}


#gnb{
  visibility: hidden;
  opacity: 0;
}

#gnb .gnb-top{
  position: relative;
  height: 45px;
  background: #fff;
}

#gnb .gnb-top .gnb-list{
  display: flex;
  width: calc(100% - 50px);
  gap: 12px;
  height: 100%;
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  padding: 0 0 0 20px;
}

#gnb .gnb-top .gnb-list li{
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

#gnb .gnb-top .gnb-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

#gnb .gnb-top a,
.all-text{
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.05em;
  color: #333;
  font-weight: 500;
}

#gnb .gnb-top .btn-more{
  position: absolute;
  right: 12px;
  top: 8.5px;
  width: 28px;
  height: 28px;
  display: inline-block;
  background: url(../images/ico-gnb-more.png);
  background-size: 12px auto;
  background-position: center;
  background-repeat: no-repeat;
}

#gnb .point,
#sideMenu .point{
  position: relative;
}

#gnb .gnb-top .all-text{
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  padding: 0 0 0 20px;
}

#gnb .gnb-bottom{
  display: none; 
}

#gnb .gnb-bottom ul{
  display: flex;
  flex-wrap: wrap;
  padding: 6px 12px;
  background: #F6F6F6;
  border-top: 1px solid #dcdcdc;
}
#gnb .gnb-bottom a{
  display: block;
  padding: 8px 17px;
  margin: 3px 3px;
  border: 1px solid #ebebeb;
  border-radius: 100px;
  background: #fff;
  line-height: 20px;
  color: #000;
  letter-spacing: -0.05em;
  font-size: 14px;
}
/* fixed */
#header.fixed .group-header{
  top: 0;
  background: #fff;
}
#header.fixed #gnb{
  visibility: visible;
  opacity: 1;
}

#header.fixed .logo a,
#header.fixed .header-top .util-area >*::before {
  filter: invert(1);
}
/* gnb.on */
#gnb.on .gnb-top .btn-more{
  transform: rotate(180deg);
}
#gnb.on .gnb-top .gnb-list{
  visibility: hidden;
}
#gnb.on .gnb-top .all-text{
  display: block;
}

#sideMenu{
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background: #fff;
  transform: translateX(-100%);
  transition: .5s;
  z-index: 110;
  overflow: auto;
}
#sideMenu.on{
  transform: translateX(0);
}
.hidden{
  overflow: hidden;
}
.group-search{
  position: relative;
  display: none;
}
.group-search.active{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/group-search.jpg) no-repeat center/cover;
}
#btnClose{
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 18px;
  padding: 30px 40px;
  background: url(../images/ico-search-close.png) no-repeat center/10px auto;
  color: transparent;
  font-size: 0;
}
.group-search{}
.group-search .inner{
  width: 100%;
}
.group-search form {
  height: 45px;
}
.group-search fieldset{
  position: relative;
  margin: 0 80px;
  border-bottom: 2px solid #fff;
}
.group-search .input-text{
  flex: 1;
  padding: 17px 0;
  outline: 0;
  border: 0;
  height: 43px;
  background: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 43px;
}
.group-search .btn-search{
  position: absolute;
  right: 0;
  top: 50%;
  width: 19px;
  height: 19px;
  margin-top: -9px;
  color: transparent;
  background: url(../images/ico-search-w.svg)no-repeat center/19px auto;
}

.hidden .dimmed{
  display: block;
}
.dimmed{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0,0,0,.3);
  z-index: 105;
}
#sideMenu .util-area{
  position: relative;
  padding: 32px 16px 14px 16px;
  border-bottom: 1px solid #ddd;
}
#sideMenu .util-area .util-wrap{
  display: flex;
  gap: 5px;
}
#sideMenu .util-area .util-wrap a{
  width: auto;
  height: auto;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  border-radius: 4px;
}
#sideMenu .util-area .login{
  background: #000;
  border: 1px solid #000;
  color: #fff;
}
#sideMenu .util-area .join{
  background: #fff;
  border: 1px solid #ccc;
  color: #333;
  font-weight: 500;
}
#sideMenu .util-area .desc{
  display: block;
  padding-top: 15px;
}
.btn-close{
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  right: 16px;
  top: 38px;
  background: url(../images/ico-side-close.png)center/cover no-repeat;
}
#sideMenu .nav-area{
  padding: 10px 16px;
}
#sideMenu .nav-area .depth1{
  padding: 11px 0;
}
#sideMenu .nav-area .depth1-item{}
#sideMenu .nav-area .depth1-tit{
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px 0;
  color: #333;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}
#sideMenu .nav-area .has-child::after{
  position: absolute;
  content: '';
  display: block;
  transition-duration: .3s;
  width: 30px;
  height: 28px;
  transform: rotateY(0);
  right: 0;
  background: url(../images/ico-side-btn.png)no-repeat center/28px auto;
}
#sideMenu .nav-area .has-child.active::after{
  transform: rotate(180deg);
}
#sideMenu .nav-area .point{}

#sideMenu .nav-area .depth2{
  display: none;
}
#sideMenu .nav-area .depth2-item a{
  display: block;
  padding: 11px 0;
  color: #848484;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.5px;
  font-weight: 400;
}
#sideMenu .depth1.cate2{
  padding: 18px 0 11px;
  border-top: 1px solid #ddd;
}
#sideMenu .content-area{
  padding: 0 16px;
}
#sideMenu .content-area .event{
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #333;
  font-weight: 500;
  border-top: 1px solid #ddd;
  margin-bottom: 30px;
}
#sideMenu .content-area .tit{
  display: block;
  padding: 20px 0 16px;
}
#sideMenu .content-area .link img{
  width: 100%;
}
#sideMenu .content-area .text-box{
  
}
#sideMenu .content-area .sub-tit{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sideMenu .content-area em{
  margin: 12px 0 6px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #222;
}
#sideMenu .content-area .desc{
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.02em;
  font-weight: 400;
  color: #777;
}
#sideMenu .content-area .all{
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: #777;
}
#sideMenu .content-area .brand{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin-bottom: 30px;
}
#sideMenu .content-area .brand::after{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1px;
  height: 16px;
  background: #CCC;
  z-index: 1;
}
#sideMenu .content-area .brand a{
  text-align: center;
  display: block;
  width: 50%;
  background: #F2F2F2;
  padding: 14px 0;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  font-weight: 400;
  color: #777;
}
#sideMenu .content-area .recent{
  margin-bottom: 70px;
}
#sideMenu .content-area .recent .tit{
  padding: 0;
  color: #333;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
#sideMenu .content-area .recent .list{
  display: flex;
  padding: 20px 0;
  gap: 14px;
}
#sideMenu .content-area .recent .list a{
  display: block;
  width: 70px;
  height: 105px;
}
#sideMenu .content-area .recent .list a img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#sideMenu .content-area .recent .link-view{
  border: 1px solid #ccc;
  color: #777;
  background: url(../images/ico-cate-view.png)no-repeat center/15px auto;
  background-position: calc(100% - 18px) center;
}
/* #sideMenu .content-area .recent .link-view::after{
  display: inline-block;
  content: '';
  width: 15px;
  height: 15px;
  margin-left: 3px;
  background: url(../images/ico-cate-view.png);
  background-repeat: no-repeat;
  background-size: 15px auto;
  background-position: center;
} */

#footer{}
#footer .inner{
  margin: 0;
  background: #fafafa;
  padding: 30px 16px 30px;
  color: #555;
}
#footer .logo-area{}
#footer .logo{
  display: block;
  width: 87px;
  height: 23px;
  background: url('../images/main-logo.svg') no-repeat center/87px auto;
}
#footer .desc{
  padding-top: 10px;
  font-size: 14px;
  color: #555;
  line-height: 20px;
  font-weight: 500;
}
#footer .info-area{
  display: flex;
  flex-direction: column;
  padding: 24px 0 20px;
  gap: 5px;
}
#footer .info-area .strong{
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
#footer .info-area .tel{
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  padding-bottom: 5px;
}
#footer .info-area{}

#footer .sns-list{
  display: flex;
}
#footer .sns-list .link{
  display: block;
  margin-right: 25px;
}
#footer .sns-list .link img{
  height: 22px;
}

#footer .corp-list{
  display: flex;
  flex-wrap: wrap;
  padding: 12px 0 12px;
}

#footer .corp-area a{
  display: flex;
  font-size: 12px;
  line-height: 1.7;
  color: #777;
  padding: 4px 0;
  font-weight: bold;
  white-space: nowrap;
}
#footer .corp-area li:not(:first-child),
#footer .addr-area p span:not(:first-child){
padding-left: 20px;
position: relative;
}
#footer .corp-area li:not(:first-child)::before,
#footer .addr-area p span:not(:first-child)::before{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background: #ccc;
  content: "";
}
#footer .addr-area{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
  font-size: 11px;
  color: #777;
}
#footer .addr-area span{
  white-space: nowrap;
}

#footer .copy{
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.02em;
  color: #777;
  font-weight: bold;
  padding: 30px 0 0;
}
#footer .mark-area{
  display: flex;
  gap: 22px;
  margin-top: 21px;
}
#footer .mark-area a{
  display: block;
}
#footer .mark-area a:nth-child(1){
  width: 45px;
}
#footer .mark-area a:nth-child(2){
  width: 36px;
}
#footer .mark-area a:nth-child(3){
  width: 27px;
}
.quick{
  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 20;
  width: 50px;
  border: 1px solid #e9e9e9;
  background-color: rgba(255,255,255,0.7);
  opacity: 1;
  transition: .5s;
}
.quick.hide{
  opacity: 0;
}
.quick .content{
  padding: 5px;
  box-sizing: border-box;
}
.quick .content:last-child{
  border-top: 1px solid #e9e9e9;
}

.quick .link{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.quick .link img{
  height: 30px;
  margin-top: 4px;
}
.quick .go-top{
  display: block;
  height: 24px;
  padding: 24px 20px 14px;
  box-sizing: border-box;
  background: url(../images/ico-gotop.png) no-repeat center/19px auto ;
}

.quick .desc{
  display: block;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: -0.04em;
  font-weight: 500;
  color: #595959;
  text-align: center;
}